@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

:root{
/* Colores*/
    --link-1: #eb4034;
    --botones-violeta: #8B48BF;
    --fondos-celeste: #3CDDF3;
    --azul-grisáceo-oscuro: #1E1E26;
    --azul-muy-oscuro: #232851;
    --variante-gris-claro: #B3B2B7;
/* Typo*/
    --font-m: 16px;
    --font-color-sections:  #FFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
}
body {
    overflow-x: hidden;
}

/*--------------Seccion Mobile--------------------*/
.container{
    width: 100%;
    max-width: 100%;
    height: 3285px;
    min-width: 480px;
}
.container--menu{
    width: 100%;
    min-width: 480px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 54px 0;
}
.menu{
    width: 368px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu img:nth-child(2){
    width: 60px;
    height: 60px;
}
.container--uno{
    width: 100%;
    height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 40px;
}
.container--section-uno{
    width: 400px;
    height: 840px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.container--section-uno-parrafo{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.container--section-uno-parrafo p{
    /*margin: 80px 0 28px 0;*/
    color: #232C50;
    text-align: right;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -1.75px;
}
.container--section-uno-parrafo span{
    margin-top: 28px;
    color: #000;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.container--seccion--uno-button{
    background-color: var(--botones-violeta);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    width: 134px;
    height:44px;
    margin-top: 32px;
    align-self: end;
}
.container--section-dos{
    width: 100%;
    background-color: var(--fondos-celeste);
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    gap: 25px;
    justify-content: left;
    align-items: flex-start;
    text-align: center;
}
.container--section-dos-h2 h2{
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
}
.container--section-dos-p p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    margin-left: 20px;
}
.container--testimonios{
    /*margin-top: 20px;*/
    width: 100%;
    min-width: 480px;
    max-width: 1440px;
    height: 478px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    align-self: center;
}
.container--testimonios h3{
    font-size: 39px;
    margin-bottom: 74px;
}
.container--testimonios img{
    width: 77px;
    height: 71px;
    position: absolute;
    top: 115px;
}
.container--testimonios-info{
    width: 94%;
    height: 219px;
    align-self: center;
    background-color: #FAFAFA;
}
.container--testimonios-info p:nth-child(1){
    margin-top: 60px;
    color: #3F4868;
    font-size: 16px;
    font-weight: 700;
}
.container--testimonios-info p:nth-child(2){
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.container--testimonios-button{
    background-color: var(--botones-violeta);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    width: 134px;
    height:44px;
    margin-top: 45px;
}
.container--info{
    margin-top: 60px;
    width:100%;
    min-width: 480px;
    max-width: 1440px;
    height: 670px;
    display: flex;
    flex-direction: column;
    margin-left: 33px;
    text-align: center;
    position: relative;
    align-self: center;
}
.container--info-titles{
    border-radius: 50px 0px 0px 50px;
    background: rgba(139, 72, 191, 0.30);
    height: 43px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.container--info-titles-button{
    width: 79px;
    height: 43px;
    background-color: var(--botones-violeta);
    border-radius: 50px;
    color: white;
    font-size: 16px;
    border: none;
}
.container--info-titles p{
    width: 100%;
    height: 43px;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: #323851;
}
.container--info-titles-info{
    width: 408px;
    /*border: 1px solid #3CDDF3;*/
    margin-left: 15px;
    font-size:  16px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 25px;
}
.container--info-titles-info p{
    width: 100%;
    text-align: left;
    align-self: center;
    color: #B3B2B7;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin: 15px 0 15px 0;
}
.container--section-tres{
    width: 100%;
    background-color: var(--fondos-celeste);
    height: 330px;
    min-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}
.button--section-tres{
    width: 134px;
    height: 44px;
    background-color: var(--azul-grisáceo-oscuro);
    border-radius: 50px;
    color: white;
    font-size: 13px;
    border: none;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.container--section-tres h2{
    color: var(--font-color-sections);
    width: 324px;
    padding: 10px 30px;
    font-size: 40px;
    font-weight: 700;
}

footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 457px;
    min-width: 480px;
    background-color: black;
}
footer input{
    width: 288px;
    height: 44px;
    border-radius: 50px;
    align-self: center;
    font-size: 13px;
    padding: 10px;
    color: #A0A0A0;
    border: none;
}
.container--buscador form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    gap: 9px;
}
.container--buscador-button{
    width: 63px;
    height: 42px;
    background-color: var(--botones-violeta);
    border-radius: 50px;
    color: white;
    font-size: 13px;
    border: none;
}
.container--footer--menu{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.footer--menu{
    width: 324px;
    height: 140px;
    display: flex;
    margin: 25px 0 0 0;
    padding: 0px;
    justify-content: space-between;
}
ul{
    list-style: none;
    font-size: 16px;
    color: white;
}
ul li{
    margin-bottom: 12px;
}
.container--footer--redes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 50px;
    max-width: 480px;
    margin-top: 25px;
}
.footer--logo{
margin-top: 30px;
}
p{
    text-align: center;
    color: #8C8C94;
    font-size: 12.5px;
    margin-top: 25px;
}
/*--------------Seccion Mobile--------------------*/


/*--------------Seccion Desktop--------------------*/
.container--menu-desktop{
    width: 100%;
    height: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    gap: 228px;
}
.container--menu-desktop ul{
    list-style: none;
    color: #242E52;
    font-size: 13px;
    display: flex;
    gap: 28px;
    text-align: center;
}
.container--menu-desktop-button{
    background-color: var(--botones-violeta);
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 13px;
    width: 134px;
    height:44px;
}
.container--info_desktop{
     display: none;
 }
.container--testimonios-desktop{
    display: none;
}
h4{
    display: none;
}
.container--section-tres-desktop{
    display: none;
}
.container--footer-desktop{
    display: none;
}


/*--------------Seccion Desktop--------------------*/


/***************Media Queries**************/

@media (min-width: 1439px) {
    .container--menu{
        display: none;
    }
    .container--info{
        display: none;
    }
    .container--info_desktop{
        display: flex;
    }
    .container--testimonios{
        display: none;
    }
    .container--section-tres{
         display: none;
     }
    footer{
        display: none;
    }

}
